{% extends "base.twig" %}

{% block title %}Edit Expense Category{% endblock %}

{% block body %}

        <div class="content">
            <div class="main_content">
                <div class="main_content_column">
                    <div>
                        <h3>Edit category</h3>
                        <form class="main_form" method="post" action="/edit-expense-category/edit" id="formProfile">
                            <input type="hidden" name="old_category" placeholder="Category" value="{{ expense_category }}" required/>
                            <label for="category">Name</label>
                            <input name="category" placeholder="Category" value="{{ expense_category }}" required/>
                            <input type="number"  name="cash_limit" min="0" step="0.01" placeholder="Enter expense monthly limit"></input>
                            <button type="submit">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}