{% extends "base.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
        <div class="content">
            <div class="main_content">
                <h3>Welcome to the home page of Wallet Overflow!</h3>
            </div>
        </div>
    </main>
{% endblock %}