{% extends 'base.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
        <div class="content">
            <div class="main_content">
                <h3>Profile</h3>
                <dl>
                    <dt>Name</dt>
                    <dd>{{ user.name }}</dd>
                    <dt>Email</dt>
                    <dd>{{ user.email }}</dd>
                </dl>

                <a class="button" href="/profile/edit">Edit</a>
            </div>
        </div>
    </main>
{% endblock %}